; Sets the GitHub Package Registry for the @uzufly scoped packages
; see also: https://answers.netlify.com/t/support-guide-using-private-npm-modules-on-netlify/795
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
@uzufly:registry=https://npm.pkg.github.com/
